<div id="nextWorkDay">
    <div id="selDay">
        <select name="" id="YMSelect" data-bind="options: dayOption,value:selectDate">
        </select>
    </div>

<div id="calendar">
       <ul id="week">
            <li>日</li>
                    <li>一</li>
                    <li>二</li>
                    <li>三</li>
                    <li>四</li>
                    <li>五</li>
                    <li>六</li>
        </ul>

        <div id="day" data-bind="foreach:dateArr">
            <ul   >
                <li >
                    <span data-bind="text:sun[0]"></span>
                    <span data-bind="text:sun[1],style:{color:sun[2]}"></span>
                    </li>
                    <li >
                        <span data-bind="text:mon[0]"></span>
                    <span data-bind="text:mon[1],style:{color:mon[2]}"></span>
                    </li>
                    <li >
                        <span data-bind="text:tus[0]"></span>
                    <span data-bind="text:tus[1],style:{color:tus[2]}"></span>
                    </li>
                    <li >
                        <span data-bind="text:wen[0]"></span>
                         <span data-bind="text:wen[1],style:{color:wen[2]}"></span>
                    </li>
                    <li >
                        <span data-bind="text:thur[0]"></span>
                    <span data-bind="text:thur[1],style:{color:thur[2]}"></span>
                    </li>
                    <li >
                        <span data-bind="text:fri[0]"></span>
                    <span data-bind="text:fri[1],style:{color:fri[2]}"></span>
                    </li>
                    <li >
                        <span data-bind="text:sat[0]"></span>
                    <span data-bind="text:sat[1],style:{color:sat[2]}"></span>
                    </li>
        </ul>
        <div class="line"></div>
        </div>
</div>

</div>
<!--<table>
                <!--border='1'cellspacing="0" cellpadding="0"
                <tbody data-bind="foreach:rows()">
                    <tr class="sqtr">
                        <td rowspan="2" class="w20">
                            <div class="sqtd"  ><span data-bind='text:DATES'></span></div>
                        </td>
                        <td rowspan="2" class="w35"><span class="fs20" data-bind='text:C3_375377576828'></span></td>
                        <td rowspan="2" class="w20"><span class="fs20"  ></span></td>
                        <td colspan="2">
                            <!--<span data-bind='text:'></span>分钟以前
                        </td>
                    </tr>
           
                </tbody>
            </table>-->


         