
<div id="msPageTwo">
    <div id="msPageTwoDate" data-bind="text:selectedAppItem().DATES">20161212</div>
    <table>
        <tbody>
            <tr>
                <td></td>
                 <td data-bind="text:selectedAppItem().C3_375377576828">白班</td>
                  <!--<td style="color: #3A88FD;font-size: 12px">夜班</td>-->
                   <td></td>
                   <td></td>
            </tr>
            <tr>
                <td>上班</td>
                 <td data-bind="text:selectedAppItem().STARTTIMES == '00:00' ? '' : selectedAppItem().STARTTIMES">7.30</td>
                  <!--<td data-bind="text:selectedAppItem().STARTTIMES">10.30</td>-->
                   <td></td>
                   <td></td>
            </tr>
            <tr>
                <td>下班</td>
                 <td data-bind="text:selectedAppItem().ENDTIMES == '00:00' ? '' : selectedAppItem().ENDTIMES">18.30</td>
                 <td></td>
                  <!--<td data-bind="text:selectedAppItem().STARTTIMES">6.30</td>-->
                   <td></td>
            </tr>
        </tbody>
    </table>

    <div id="loseWork">缺勤</div>
    <table>
        <tbody>
            <tr >
                <td>迟到</td>
                 <td>早退</td>
                  <td>未刷卡</td>
                  <td></td>
            </tr>
            <tr>
                <td data-bind="text:selectedAppItem().F_1"></td>
                 <td data-bind="text:selectedAppItem().F_2">40分钟</td>
                  <td data-bind="text:selectedAppItem().F_3"></td>
                  <td></td>
            </tr>
        </tbody>
    </table>

    <div id="msLeave" >请假</div>
    <table>
        <tbody>
            <tr>
                <td>病假</td>
                 <td>事假</td>
                  <td>年假</td>
                   <td>婚假</td>
            </tr>
            <tr>
                <td data-bind="text:selectedAppItem().F_14"></td>
                 <td data-bind="text:selectedAppItem().F_15"></td>
                  <td data-bind="text:selectedAppItem().F_23"></td>
                   <td data-bind="text:selectedAppItem().F_18"></td>
            </tr>

            <tr>
                <td>产前假</td>
                 <td>探亲假</td>
                  <td>路程假</td>
                   <td>丧假</td>
            </tr>
            <tr>
                <td data-bind="text:selectedAppItem().F_36"></td>
                 <td data-bind="text:selectedAppItem().F_53"></td>
                  <td data-bind="text:selectedAppItem().F_54"></td>
                   <td data-bind="text:selectedAppItem().F_19"></td>
            </tr>

            <tr>
                <td>工伤假</td>
                 <td>产假</td>
                  <td>产检假</td>
                   <td>哺乳假</td>
            </tr>
            <tr>
                <td data-bind="text:selectedAppItem().F_27"></td>
                 <td data-bind="text:selectedAppItem().F_16"></td>
                  <td data-bind="text:selectedAppItem().F_35"></td>
                   <td data-bind="text:selectedAppItem().F_37"></td>
            </tr>

            <tr>
                <td>计划生育假</td>
                 <td></td>
                  <td></td>
                   <td></td>
            </tr>
            <tr>
                <td data-bind="text:selectedAppItem().F_52"></td>
                 <td></td>
                  <td ></td>
                   <td></td>
            </tr>
        </tbody>
    </table>
    <div id="totalHour"><span>累计出勤<span data-bind="text:selectedAppItem().F_79"></span>小时</span><span data-bind="selectedAppItem().DATES"></span></div>
</div>
