<div id="mysearch2">

    <div id="msPageOne">
        <div>
            <select name="" id="" data-bind="options:dayOptionT,value:selectDate">
        </select>

            <span data-bind="click:errorData,css:{mysearchErrorOff:switchBool(),mysearchErrorOn:!switchBool()}"></span>
            <span>异常</span>
        </div>

        <!--<div id="msContent" data-bind="foreach:rows()">-->
            <div id="msContent" >
            <ul>
                <li>
                    <span data-bind="text:DATES">1yue1日</span>
                    <span data-bind="text:C3_375377576828,style:{color:tcolor}">白帮</span>
                </li>
                <li>
                    <span data-bind="text:STARTTIMES == '00:00' ? '' : STARTTIMES">周一上</span>
                    <span data-bind="text:ENDTIMES == '00:00' ? '' : ENDTIMES">周一下</span >
                    </li>
                    <li data-bind="text:F_5">10h</li>
          <li data-bind="click:$root.browse"><i></i>详细</li>
            </ul>
            <div class="line"></div>
    </div>
</div>