

<div id="mysearch3Div">
<table id="mysearch3">
  
                <tbody data-bind="foreach:rows()">
                    <tr>
                        <td>
                            姓名
                        </td>
                        <td data-bind='text:YGNAMES'></td>
                        
                        
                    </tr>

                     <tr>
                        <td>
                           年月
                        </td>
                        <td data-bind='text:YEARMONTH'></td>
                        
                    </tr>

                    <tr>
                        <td>入职日期</td>
                        <td data-bind='text:JOINDATE'></td>
                    </tr>

                    <tr>
                        <td>考勤类别</td>
                        <td data-bind='text:KQTYPE'></td>
                    </tr>
                    <tr>
                        <td>制度工作时数</td>
                        <td data-bind='text:STWOKDAYS'></td>
                    </tr>
                    <tr>
                        <td>标准时数</td>
                        <td data-bind='text:STWORKHOURS'></td>
                    </tr>
                    <tr>
                        <td>病假</td>
                        <td data-bind='text:F_14'></td>
                    </tr>
                    <tr>
                        <td>产假</td>
                        <td data-bind='text:F_16'></td>
                    </tr>
                    <tr>
                        <td>婚假</td>
                        <td data-bind='text:F_18'></td>
                    </tr>
                    <tr>
                        <td>丧假</td>
                        <td data-bind='text:F_19'></td>
                    </tr>
                    <tr>
                        <td>年假</td>
                        <td data-bind='text:F_23'></td>
                    </tr>
                    <tr>
                        <td>工伤假</td>
                        <td data-bind='text:F_27'></td>
                    </tr>
                    <tr>
                        <td>调休</td>
                        <td data-bind='text:F_28'></td>
                    </tr>
                    <tr>
                        <td>旷工</td>
                        <td data-bind='text:F_3'></td>
                    </tr>
                    <tr>
                        <td>产检假</td>
                        <td data-bind='text:F_35'></td>
                    </tr>
                    <tr>
                        <td>产前假</td>
                        <td data-bind='text:F_36'></td>
                    </tr>
                    <tr>
                        <td>哺乳假</td>
                        <td data-bind='text:F_37'></td>
                    </tr>
                    <tr>
                        <td>排班出勤</td>
                        <td data-bind='text:F_39'></td>
                    </tr>
                    <tr>
                        <td>漏打卡</td>
                        <td data-bind='text:F_40'></td>
                    </tr>
                    <tr>
                        <td>计划生育假</td>
                        <td data-bind='text:F_52'></td>
                    </tr>
                    <tr>
                        <td>探亲假</td>
                        <td data-bind='text:F_53'></td>
                    </tr>
                    <tr>
                        <td>路程假</td>
                        <td data-bind='text:F_54'></td>
                    </tr>
 <tr>
                        <td>其他假</td>
                        <td data-bind='text:F_55'></td>
                    </tr> <tr>
                        <td>护理假</td>
                        <td data-bind='text:F_69'></td>
                    </tr>
                     <tr>
                        <td>欠班</td>
                        <td data-bind='text:F_70'></td>
                    </tr>
                     <tr>
                        <td>出勤时数</td>
                        <td data-bind='text:F_9'></td>
                    </tr>
                     
                </tbody>
            </table></div>