<form class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">申请类别</label>
        <div class=" col-sm-10 col-md-10 col-lg-10 dropdown">
            <select name="" id="" class="form-control" data-bind="options: model.vacationCategory, value: model.selectedCategory">
            </select>
        </div>
    </div>

     <!--ko component: { name: "cellNoticeCpt",params:{title:model.noticeStr} }-->
                                                                                       
    <!--/ko-->

    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">开始时间</label>
        <div class=" col-sm-10 col-md-10 col-lg-10">
            <input type="text" data-bind="value:model.data().C3_533143179815"  readonly class="form-control appDate"/>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">结束时间</label>
        <div class=" col-sm-10 col-md-10 col-lg-10">
            <input type="text" data-bind="value:model.data().C3_533143217561"  class="form-control appDate" readonly/>
        </div>
    </div>

    <!--审批人cellApprovePersonCpt-->
    <!--ko component: { name: "cellApprovePersonCpt",params:{title:model.approver} }-->
                                                                                       
    <!--/ko-->

    <!--时长-->
    <div class="form-group" data-bind="visible:!model.isCard()">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">时长</label>
        <div class=" col-sm-10 col-md-10 col-lg-10 input-group padding-lf-12">
            <input type="text" class="form-control" data-bind="value:model.data().C3_541449935726" readonly aria-describedby="aria-time" />
            <span class="input-group-addon"  data-bind="click:hourCalculate"  id="aria-time">获取时长</span>
        </div>
    </div>
    </div>

    <!--事由-->
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">事由</label>
        <div class=" col-sm-10 col-md-10 col-lg-10">
            <!--<input type="text" class="form-control" />-->
            <textarea class="form-control" data-bind="value:model.data().C3_533143291117" rows="3"></textarea>
        </div>
    </div>

    <!-- 拍照 -->
    <!-- ko foreach:model.imgShowArr -->
    <div class="form-group" data-bind="visible:$data[0]">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label " data-bind="text:$data[2]"></label>
        <div class=" col-sm-10 col-md-10 col-lg-10 input-group padding-lf-12">
            <input type="text" class="form-control" data-bind="text:$data[1]" readonly aria-describedby="aria-time" />
            <!--<span class="input-group-addon" id="aria-time">选择文件</span>-->
            <span class="input-group-addon" id="aria-time">
                <input id="uploaderInput" class="weui-uploader__input"  data-bind="event:{change:function(data,event){$root.selectImgChange($index,data,event)}}" type="file" accept="image/*"/>
                选择文件</span>
            
        </div>
    </div>
    <!-- /ko -->

    <!--<div data-bind="text:model.data().C3_541450276993">
       
    </div>-->
    <!--<div class="form-group" data-bind="foreach:[model.data().C3_541450276993,model.data().C3_545771156108,model.data().C3_545771157350,model.data().C3_545771158420]">
        <img data-bind="attr:{src:$data}" alt="">
    </div>-->

    <div class="form-group">
           <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles" data-bind="foreach:[model.data().C3_541450276993,model.data().C3_545771156108,model.data().C3_545771157350,model.data().C3_545771158420]">
                                <!--<li class="weui-uploader__file" data-bind="css:{'background-image':'url(' + $data +')'},visible:$data"></li>-->
                                <!--<li class="weui-uploader__file" > <img class="img-gallery" data-bind="attr:{src:$data},visible:$data,click:function(){imgClick($index)}" alt=""></li>-->
                                <li class="weui-uploader__file" data-bind="style:{backgroundImage:'url('+ 'http://kingofdinner.realsun.me:8081/rispweb/upfiles/552058584375.png' + ')'},click:function(){$root.imgClick($index)}"></li>
                            </ul>
                        </div>
    </div>

    <div class="from-group">
          <button class="form-control w45 tjb lf" data-bind="click:function(){saveOrsubmitClick('submit')}">提交</button>
          <button class="form-control w45 ccg rf" data-bind="click:function(){saveOrsubmitClick('save')}">保存</button> 
    </div>
      
      
      



</form>

<div class="weui-gallery" id="gallery" data-bind="click:galleryClick">
            <span class="weui-gallery__img" id="galleryImg" data-bind="style:{backgroundImage:'url('+ 'http://kingofdinner.realsun.me:8081/rispweb/upfiles/552058584375.png' + ')'}" >
            </span>
            <!--<div class="weui-gallery__opr">
                <a href="javascript:" class="weui-gallery__del">
                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                </a>
            </div>-->
        </div>