<div>
	<div class="row clear-margin-rl">
        <div class="mg-top login-from-container">
			<!--<div class="well no-padding">-->
			<form class="smart-form client-form">
				<fieldset>
					<section>
						<label class="label">旧密码</label>
						<label class="input"> 
							<i class="icon-append fa fa-user"></i>
							<input type="text" data-bind="value:model.oldPW">
							<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 请输入旧密码</b>
						</label>
					</section>

					<section>
						<label class="label">新密码</label>
						<label class="input"> 
							<i class="icon-append fa fa-lock"></i>
							<input type="password" data-bind="value:model.newPW">
							<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 请输入新密码</b>
						 </label>
                    </section>
                        
                    <section>
						<label class="label">确认新密码</label>
						<label class="input"> 
							<i class="icon-append fa fa-lock"></i>
							<input type="passWord" data-bind="value:model.sureNewPW">
							<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 请输入确认新密码</b>
						 </label>
					</section>


				</fieldset>
				<footer>
					<button type="submit" data-bind="click:changePassWordClick" class="btn btn-primary btn-block">
										提交
					</button>
				</footer>
			</form>

			<!--</div>-->
		</div>
		<!--</div>-->
	</div>

</div>