<div>
	<div class="row clear-margin-rl">
        <div class="mg-top login-from-container">
			<!--<div class="well no-padding">-->
			<form class="smart-form client-form">
				<fieldset>
					<section>
						<label class="label">工号</label>
						<label class="input"> 
							<i class="icon-append fa fa-user"></i>
							<input type="text" data-bind="value:model.personNum">
							<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 请输入工号</b>
						</label>
					</section>

				</fieldset>
				<footer>
					<button type="submit" data-bind="click:forgetPassWordClick" class="btn btn-primary btn-block">
										提交
					</button>
				</footer>
			</form>

			<!--</div>-->
		</div>
		<!--</div>-->
	</div>

</div>