<div data-bind='component: {
     name: "headerCpt",params:{title:model.title,subTitle:model.subTitle}
}'>

</div>


<!-- row -->
<div class="row">

	<!-- NEW WIDGET START -->
	<article class="col-sm-12 col-md-12 col-lg-12">
		<table class="table table-hover table-bordered">
			<!--ko component:{name:"cellMainCategory",params:{isPend:true}}-->
			<!--/ko-->
			
			<!--ko component:{name:"cellMainFilterSearch",params:{title:model.selectedCategory,subTitle:model.vacationCategory,inputVal:model.inputVal,
					isPend:false}}-->
			<!--/ko-->

			<tbody data-bind="foreach:model.data">
				<tr>
					<!--ko component:{name:"cellMainData",params:{item:$data,isPend:true}}-->
					<!--/ko-->
					<!--ko component:{name:"cellMainAttachBtn",params:{item:$data}}-->
					<!--/ko-->
				</tr>
			</tbody>
		</table>
	</article>
	<!-- WIDGET END -->

	<!-- 分页pageSelectCpt-->
    <!--ko component:{name:"pageSelectCpt",params:{pageMark:model.pageMark,pageFirstClick:pageFirst}}-->
    <!--/ko-->

</div>

<!-- end row -->