<div data-bind='component: {
     name: "headerCpt",params:{title:model.title,subTitle:model.subTitle}
}'>

</div>

<div id="nextWorkDay">
    <div id="selDay">
        <select name="" id="YMSelect" data-bind="options: model.dayOption,value:model.selectDate">
        </select>
    </div>

    <div id="calendar">
        <ul id="week">
            <li>日</li>
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
        </ul>

        <div id="day" data-bind="foreach:model.dateArr">
            <ul>
                <li>
                    <span data-bind="text:sun[0]"></span>
                    <span data-bind="text:sun[1],style:{color:sun[2]}"></span>
                </li>
                <li>
                    <span data-bind="text:mon[0]"></span>
                    <span data-bind="text:mon[1],style:{color:mon[2]}"></span>
                </li>
                <li>
                    <span data-bind="text:tus[0]"></span>
                    <span data-bind="text:tus[1],style:{color:tus[2]}"></span>
                </li>
                <li>
                    <span data-bind="text:wen[0]"></span>
                    <span data-bind="text:wen[1],style:{color:wen[2]}"></span>
                </li>
                <li>
                    <span data-bind="text:thur[0]"></span>
                    <span data-bind="text:thur[1],style:{color:thur[2]}"></span>
                </li>
                <li>
                    <span data-bind="text:fri[0]"></span>
                    <span data-bind="text:fri[1],style:{color:fri[2]}"></span>
                </li>
                <li>
                    <span data-bind="text:sat[0]"></span>
                    <span data-bind="text:sat[1],style:{color:sat[2]}"></span>
                </li>
            </ul>
            <div class="line"></div>
        </div>
    </div>

</div>