<div data-bind='component: {
     name: "headerCpt",params:{title:model.title,subTitle:model.subTitle}
}'>
</div>


<!-- row -->
<div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-sm-12 col-md-12 col-lg-12">
        <form class="form-horizontal page-padd">
            <div class="form-group">
                <p class="col-xs-4 control-label text-right">工号</p>
                <div class="col-xs-8">
                    <input class="form-control" type="text" data-bind="value:model.data().C3_542062213811" readonly>
                </div>
            </div>

            <div class="form-group">
                <p class="col-xs-4 control-label text-right">工号</p>
                <div class="col-xs-8">
                    <input class="form-control" type="text" data-bind="value:model.data().C3_541450807755" readonly>
                </div>
            </div>

             <div class="form-group">
                <p class="col-xs-4 control-label text-right">组长</p>
                <div class="col-xs-8">
                    <input class="form-control"  data-bind="value:model.data().C3_541450797951,click:function(){gotoChoosePageClick('zuzhang')}" readonly>
                    
                </div>
            </div>

            <div class="form-group">
                <p class="col-xs-4 control-label text-right">主管</p>
                <div class="col-xs-8">
                    <input class="form-control"  data-bind="value:model.data().C3_541467332728,click:function(){gotoChoosePageClick('zhuguan')}" readonly>
                </div>
            </div>

            <div class="form-group">
                <p class="col-xs-4 control-label text-right">经理</p>
                <div class="col-xs-8">
                    <input class="form-control"  data-bind="value:model.data().C3_541467363607,click:function(){gotoChoosePageClick('jinli')}" readonly>
                </div>
            </div>

            
        </form>
    </article>
    <!-- WIDGET END -->

        <!--cellSaveBtnCpt-->

</div>
<!-- end row -->