<form class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">申请类别</label>
        <div class=" col-sm-10 col-md-10 col-lg-10 dropdown">
            <select name="" id="" class="form-control" data-bind="options: model.vacationCategory, value: model.selectedCategory,event:{change:kvoSelectCategory}">
            </select>
        </div>
    </div>

     <!--ko component: { name: "cellNoticeCpt",params:{title:model.noticeStr} }-->
                                                                                       
    <!--/ko-->

    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">开始时间</label>
        <div class=" col-sm-10 col-md-10 col-lg-10">
            <input type="text" data-bind="value:model.data().C3_533143179815"  readonly class="form-control appDate"/>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">结束时间</label>
        <div class=" col-sm-10 col-md-10 col-lg-10">
            <input type="text" data-bind="value:model.data().C3_533143217561"  class="form-control appDate" readonly/>
        </div>
    </div>

    <!--审批人cellApprovePersonCpt-->
    <!--ko component: { name: "cellApprovePersonCpt",params:{title:model.approver} }-->
                                                                                       
    <!--/ko-->

    <!--时长-->
    <div class="form-group" data-bind="visible:!model.isCard()">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">时长</label>
        <div class=" col-sm-10 col-md-10 col-lg-10 input-group padding-lf-12">
            <input type="text" class="form-control" data-bind="value:model.data().C3_541449935726" readonly aria-describedby="aria-time" />
            <span class="input-group-addon"  data-bind="click:hourCalculate"  id="aria-time">获取时长</span>
        </div>
    </div>

    <!--事由 cellReasonEdit-->
    <!--ko component: { name: "cellReasonEdit",params:{title:model.data().C3_533143291117} }-->
                                                                                       
    <!--/ko-->

    <!-- 拍照 -->
    <!-- ko foreach:model.imgShowArr -->
         <!--ko component: { name: "cellCameraCpt",params:{item:$data} }-->
                                                                                       
         <!--/ko-->
    <!-- /ko -->


    <!--附件 cellAttachCpt-->
     <!--ko component: { name: "cellAttachCpt",params:{srcs:model.attachUrlArray} }-->
                                                                                       
    <!--/ko-->


     <!--保存提交cellSubmitBtnCpt-->
     <!--ko component: "cellSubmitBtnCpt"-->
                                                                                       
    <!--/ko-->

<!-- 图片浏览cellPictureCpt-->
 <!--ko component: { name: "cellPictureCpt",params:{src:model.galleryImgUrl()} }-->
                                                                                       
<!--/ko-->
</form>




<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <div class="pswp__container">
            <!-- don't modify these 3 pswp__item elements, data is added later on -->
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>