<form class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">申请类别</label>
        <div class=" col-sm-10 col-md-10 col-lg-10 dropdown">
            <select name="" id="" class="form-control" data-bind="options: model.vacationCategory, value: model.selectedCategory,event:{change:kvoSelectCategory}">
            </select>
        </div>
    </div>

     <!--ko component: { name: "cellNoticeCpt",params:{title:model.noticeStr} }-->
                                                                                       
    <!--/ko-->

    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">开始时间</label>
        <div class=" col-sm-10 col-md-10 col-lg-10">
            <input type="text" data-bind="value:model.data().C3_533143179815"  readonly class="form-control appDate"/>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">结束时间</label>
        <div class=" col-sm-10 col-md-10 col-lg-10">
            <input type="text" data-bind="value:model.data().C3_533143217561"  class="form-control appDate" readonly/>
        </div>
    </div>

    <!--审批人cellApprovePersonCpt-->
    <!--ko component: { name: "cellApprovePersonCpt",params:{title:model.approver} }-->
                                                                                       
    <!--/ko-->

    <!--时长-->
    <div class="form-group" data-bind="visible:!model.isCard()">
        <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">时长</label>
        <div class=" col-sm-10 col-md-10 col-lg-10 input-group padding-lf-12">
            <input type="text" class="form-control" data-bind="value:model.data().C3_541449935726" readonly aria-describedby="aria-time" />
            <span class="input-group-addon"  data-bind="click:hourCalculate"  id="aria-time">获取时长</span>
        </div>
    </div>

    <!--事由 cellReasonEdit-->
    <!--ko component: { name: "cellReasonEdit",params:{title:model.data().C3_533143291117} }-->
                                                                                       
    <!--/ko-->

    <!-- 拍照 -->
    <!-- ko foreach:model.imgShowArr -->
         <!--ko component: { name: "cellCameraCpt",params:{item:$data} }-->
                                                                                       
         <!--/ko-->
    <!-- /ko -->


    <!--附件 cellAttachCpt-->
     <!--ko component: { name: "cellAttachCpt",params:{srcs:model.attachUrlArray} }-->
                                                                                       
    <!--/ko-->


     <!--保存提交cellSubmitBtnCpt-->
     <!--ko component: "cellSubmitBtnCpt"-->
                                                                                       
    <!--/ko-->

<!-- 图片浏览cellPictureCpt-->
 <!--ko component: { name: "cellPictureCpt",params:{src:model.galleryImgUrl()} }-->
                                                                                       
<!--/ko-->
</form>



