<div data-bind='component: {
     name: "headerCpt",params:{title:model.title,subTitle:model.subTitle}
}'>

</div>


<!-- row -->
<div class="row">

	<!-- NEW WIDGET START -->
	<article class="col-sm-12 col-md-12 col-lg-12">
		<table class="table table-hover table-bordered">

			<tbody data-bind="foreach:model.data">
				<tr>
					<td class="wd-fourty-pe" data-bind="text:$data.title"></td>
                    <td data-bind="text:$data.subTitle"></td>
				</tr>
			</tbody>
		</table>
	</article>
	<!-- WIDGET END -->

</div>
<!-- end row -->