<div data-bind='component: {
     name: "headerCpt",params:{title:model.title,subTitle:model.subTitle}
}'>

</div>



<!-- row -->
<div class="row">

    <!-- NEW WIDGET START -->

    <div class="padding-bt-10 col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-7 col-md-offset-7 col-lg-offset-7">
                 <input type="text" class="form-control" data-bind="textInput:model.inputVal,event:{change:kvoInput}">
            </div>
             <div class="col-sm-1 col-md-1 col-lg-1">
                 <button class="btn btn-primary" data-bind="click:addClick">新增</button>
            </div>
        </div>

    <article class="col-sm-12 col-md-12 col-lg-12">
        
       

        <table class="table table-hover table-bordered">
            <thead>
                <th>产线</th>
                <th>员工工号</th>
                <th>员工姓名</th>
                <th>组长</th>
                <th>主管</th>
                <th>经理</th>
                <th>错误提示</th>
                <th>待审批</th>
                <th>已审核</th>
                <th>申请被退回</th>
                <th>操作</th>
            </thead>
            <tbody data-bind="foreach:model.data">
                <tr>
                    <td data-bind="text:C3_541468317577"></td>
                    <td data-bind="text:C3_542062213811"></td>
                    <td data-bind="text:C3_541450807755"></td>
                    <td data-bind="text:C3_541450797951"></td>
                    <td data-bind="text:C3_541467332728"></td>
                    <td data-bind="text:C3_541467363607"></td>
                    <td data-bind="text:C3_542065304623"></td>
                    <td data-bind="text:C3_542385852578"></td>
                    <td data-bind="text:C3_542385880907"></td>
                    <td data-bind="text:C3_542385904547"></td>
                    <td><button class="btn btn-primary" data-bind="click:function(){$parent.editClick($index)}">编辑</button></td>
                </tr>
            </tbody>
        </table>
    </article>
    <!-- WIDGET END -->

    <!-- 分页pageSelectCpt-->
    <!--ko component:{name:"pageSelectCpt",params:{pageMark:model.pageMark,pageFirstClick:pageFirst}}-->
    <!--/ko-->

</div>
<!-- end row -->