<div data-bind='component: {
     name: "headerCpt",params:{title:model.title,subTitle:model.subTitle}
}'>

</div>



<!-- row -->
<div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-hover table-bordered">
            <thead>
                <th>审批节点</th>
                <th>审批人</th>
                <th>审批结果</th>
                <th>审批时间</th>
            </thead>
            <tbody data-bind="foreach:model.data">
                <tr>
                    <td data-bind="text:C3_541450356168"></td>
                    <td data-bind="text:C3_541450392920"></td>
                    <td data-bind="text:C3_541450438440"></td>
                    <td data-bind="text:C3_541450449702"></td>
                </tr>
            </tbody>
        </table>
    </article>
    <!-- WIDGET END -->

</div>
<!-- end row -->