<div data-bind='component: {
     name: "headerCpt",params:{title:model.title,subTitle:model.subTitle}
}'>
</div>

<!-- row -->
<div class="row">

    <!-- NEW WIDGET START -->

    <div class="padding-bt-10 col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-8 col-md-offset-8 col-lg-offset-8">
                 <input type="text" class="form-control" data-bind="textInput:model.inputVal,event:{change:kvoInput}">
            </div>
             
        </div>

    <article class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-hover table-bordered">
            <thead>
                <th>员工工号</th>
                <th>员工姓名</th>
                <th>申请类别</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>时间长度</th>
                <th>申请原因</th>
                <th>已审核</th>
                <th>已添加</th>
                <th>已撤销</th>
                <th colspan="2">操作</th>
            </thead>
            <tbody data-bind="foreach:model.data">
                <tr>
                    <td data-bind="text:C3_546778223547"></td>
                    <td data-bind="text:C3_546785920929"></td>
                    <td data-bind="text:C3_546778295354"></td>
                    <td data-bind="text:C3_546778248258"></td>
                    <td data-bind="text:C3_546778254638"></td>
                    <td data-bind="text:C3_546778281611"></td>
                    <td data-bind="text:C3_546778314589"></td>
                    <td data-bind="text:C3_546778341515"></td>
                    <td data-bind="text:C3_546786924740"></td>
                    <td data-bind="text:C3_553774879841"></td>
                    <td><button class="btn btn-primary" data-bind="click:function(){$parent.detailClick($index)}">详情</button></td>
                    <td><button class="btn btn-primary" data-bind="click:function(){$parent.cancelClick($index)}">撤销</button></td>
                </tr>
            </tbody>
        </table>
    </article>
    <!-- WIDGET END -->

    <!-- 分页pageSelectCpt-->
    <!--ko component:{name:"pageSelectCpt",params:{pageMark:model.pageMark,pageFirstClick:pageFirst}}-->
    <!--/ko-->

</div>
<!-- end row -->